.shopping-cart-wrapper {
  background: #ddd;
  min-height: 100vh;
  vertical-align: middle;
  display: flex;
  font-family: sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 12rem;
}

.shopping-cart-wrapper .title {
  margin-bottom: 5vh;
}

.shopping-cart-wrapper .card {
  margin: auto;
  max-width: 950px;
  width: 90%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  border: transparent;
}

@media (max-width: 767px) {
  .shopping-cart-wrapper .card {
    margin: 3vh auto;
  }
}

.shopping-cart-wrapper .cart {
  background-color: #fff;
  padding: 4vh 5vh;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}

@media (max-width: 767px) {
  .shopping-cart-wrapper .cart {
    padding: 4vh;
    border-bottom-left-radius: unset;
    border-top-right-radius: 1rem;
  }
}

.shopping-cart-wrapper .summary {
  background-color: #ddd;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 4vh;
  color: rgb(65, 65, 65);
}

@media (max-width: 767px) {
  .shopping-cart-wrapper .summary {
    border-top-right-radius: unset;
    border-bottom-left-radius: 1rem;
  }
}

.shopping-cart-wrapper .summary .col-2,
.shopping-cart-wrapper .summary .col-10 {
  padding: 0;
}

.shopping-cart-wrapper .row {
  margin: 0;
}

.shopping-cart-wrapper .title b {
  font-size: 1.5rem;
}

.shopping-cart-wrapper .main {
  margin: 0;
  padding: 2vh 0;
  width: 100%;
}

.shopping-cart-wrapper .col-2,
.shopping-cart-wrapper .col {
  padding: 0 1vh;
}

.shopping-cart-wrapper a {
  padding: 0 1vh;
  color: black;
}

.shopping-cart-wrapper .close {
  margin-left: auto;
  font-size: 0.7rem;
  cursor: pointer;
}

.shopping-cart-wrapper img {
  width: 3.5rem;
}

.shopping-cart-wrapper .back-to-shop {
  margin-top: 4.5rem;

  cursor: pointer;
}

.shopping-cart-wrapper h5 {
  margin-top: 4vh;
}

.shopping-cart-wrapper hr {
  margin-top: 1.25rem;
}

.shopping-cart-wrapper form {
  padding: 2vh 0;
}

.shopping-cart-wrapper select {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1.5vh 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
}

.shopping-cart-wrapper input {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
}

.shopping-cart-wrapper input:focus::-webkit-input-placeholder {
  color: transparent;
}

.shopping-cart-wrapper .btn {
  background-color: #000;
  border-color: #000;
  color: white;
  width: 100%;
  font-size: 0.7rem;
  margin-top: 4vh;
  padding: 1vh;
  border-radius: 0;
}

.shopping-cart-wrapper .btn:focus {
  box-shadow: none;
  outline: none;
  background-color: #000;
  border-color: #000;
  color: #000;
  -webkit-box-shadow: none;
  -webkit-user-select: none;
  transition: none;
}

.shopping-cart-wrapper .btn:hover {
  color: rgb(250, 246, 246);
  background-color: #000;
}

.shopping-cart-wrapper a:hover {
  color: black;
  text-decoration: none;
}

.shopping-cart-wrapper #code {
  background-image: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.253),
      rgba(255, 255, 255, 0.185)
    ),
    url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center;
}
